action_msgs==1.2.2
ament_copyright==0.12.14
ament_flake8==0.12.14
ament_index_python==1.4.0
ament_pep257==0.12.14
autobahn
builtin_interfaces==1.2.2
cbor2==5.4.2
example_interfaces==0.9.3
Flask
Flask_Sockets
geometry_msgs==4.9.0
gevent==25.8.2
gevent_websocket==0.10.1
launch_ros==0.19.13
launch_testing==1.0.13
lifecycle_msgs==1.2.2
matplotlib==3.5.1
nav2_common==1.1.20
nav2_msgs==1.1.20
nav_msgs==4.9.0
#numpy==1.21.5
#numpy==1.22.4
#numpy==1.24.4
numpy==1.23.4
open3d==0.19.0
pathos==0.3.4
Pillow
pymongo==4.15.5
pyproj==3.7.1
PyQt5
PyQt5_sip
pyridescence==0.1.9
pytest==6.2.5
rcl_interfaces==1.2.2
rclpy==3.3.19
recommonmark==0.7.1
ros2action==0.18.15
ros2interface==0.18.15
ros2lifecycle==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2service==0.18.15
ros2topic==0.18.15
rosbag2_py==0.15.15
rosidl_adapter==3.1.7
rosidl_runtime_py==0.9.3
scipy==1.8.0
sensor_msgs==4.9.0
sensor_msgs_py==4.9.0
setuptools==68.0.0
# setuptools==80.9.0
# setuptools==59.6.0
simplejson==3.17.6
six==1.16.0
std_msgs==4.9.0
std_srvs==4.9.0
tf2_ros_py==0.25.17
#ros-humble-tf_transformations
tornado==6.5.4
# tornado==6.1
transforms3d==0.4.2
Twisted==22.1.0
tqdm
ujson==5.1.0
visualization_msgs==4.9.0
waitress==1.4.4
websockets==15.0.1
